body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background: black;
}

.App{
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.timer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  color: #17D4FE;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

.stopwatch{
  margin-top: 100px;
}

.buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons .btn{
  border: 4px solid #17D4FE;
  background: transparent;
  color: #17D4FE;
  width: 110px;
  cursor: pointer;
}

.buttons .btn:hover{
  background: #17D4FE;
  color: #000;
}

.tasks{
  color: #fff;
}